body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    max-width: 600px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 40px 40px;
    border-radius: 15px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.well {
    border: 1px solid #ccc;
    padding: 0 15px 15px 15px;
    border-radius: 10px;
}

.cat {
    border-radius: 15px;
    overflow: hidden;
    width: 400px;
    height: 300px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: 0;
}

.cat.home {
    background: url('../images/cat_home.gif');
    background-position: -380px -290px;
}
.cat.client {
    background: url('../images/cat_client.gif');
    background-size: 140% 140%;
    background-position: -80px -40px;
}

.small {
    font-size: smaller;
}