<?php include TEMPLATE_PATH . '/includes/header.tpl'; ?>

        <div class="hero-unit">

            <div class="cat client">
            </div>

            <h1>Result</h1>
            
            <h2>You said add:</h2>
            <ul>
                <li>X: <?php echo $this->getX(); ?></li>
                <li>Y: <?php echo $this->getY(); ?></li>
            </ul>

            <h2>I replied:</h2>
            <ul>
                <li>X + Y = <?php echo $this->data; ?></li>
            </ul>

          <a href="<?php echo '/'; ?>">Home</a>
        </div>

<?php include TEMPLATE_PATH . '/includes/footer.tpl'; ?>
